<!DOCTYPE html>
<html>
<head>
  <title>Mavatar</title>
  <%= stylesheet_link_tag    "mavatar/application", media: "all" %>
  <%= javascript_include_tag "mavatar/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
